In [1]:
import numpy as np
import string
import random
np.random.seed(1)
random.seed(1)

In [2]:
names = np.genfromtxt('./names.txt',dtype='str',delimiter='\n')
numbers = np.genfromtxt('./phoneno.txt',dtype='str',delimiter='\n')
print(len(names))
Person = []
for i in range(len(names)):
    Person.append([i + 1,names[i],numbers[i],''.join(random.choices(string.ascii_uppercase +
                             string.digits, k = np.random.randint(5,10)))])
Person = np.array(Person)
print(Person)

500
[['1' 'Brandon Garner' '(964) 821-2953' 'E41JRQX2']
 ['2' 'Gianni Tyler' '(498) 679-6178' 'DB4P1AQZI']
 ['3' 'Bryan Cruz' '(973) 269-8383' '86BAT']
 ...
 ['498' 'Alaina Rivera' '(883) 783-6341' 'AF2Z7F75']
 ['499' 'Nolan Galloway' '(826) 838-2107' 'M894U']
 ['500' 'Estrella Boyd' '(511) 754-5127' '5FEEZ8GE5']]

In [3]:

Shifts = [['11:00','15:00'],['19:00','23:00']]

Salary = [60000,15000,40000,10000]

employee_ratio = 6 / 100
employees = int(Person.shape[0] * employee_ratio)
np.random.shuffle(Person)
empl = np.array(Person[:employees][:,0])
customers = np.array(Person[employees:])
Employee = np.array(empl).reshape((empl.shape[0],1))
es = []
for i in range(len(Employee)):
    es.append(Shifts[i % 2])
Employee = np.append(Employee,np.array(es),axis=1)
        
ch = lambda x : "0" + str(x) if(x < 10) else str(x)

In [4]:
ratios = [10,30,20,40] # manager waiter chef ( delivery person )
typ = ['Manager','Waiter','Chef','Delivery-Person']
r = [int((i / 100) * len(Employee)) for i in ratios]
salaries = []
types = []
for i in range(len(r)):
    for j in range(r[i]):
        salaries.append(Salary[i])
        types.append(typ[i])

salaries = np.array(salaries).reshape((len(Employee),1))
types = np.array(types).reshape((len(types),1))
Employee = np.append(Employee,np.array(salaries),axis=1)
Employee = np.append(Employee,np.array(types),axis=1)
for  i in range(1,4):
    r[i] = r[i] + r[i - 1]
Manager = Employee[:r[0]][:,0]
Waiter = Employee[(r[0] + 1):r[1]][:,0]
Chef = Employee[(r[1] + 1):r[2]][:,0]
Delivery_Person = Employee[(r[2] + 1):r[3]][:,0]
Manager = Manager.reshape((Manager.shape[0],1))
Waiter = Waiter.reshape((Waiter.shape[0],1))
Chef = Chef.reshape((Chef.shape[0],1))
Delivery_Person = Delivery_Person.reshape((Delivery_Person.shape[0],1))
chef_rank = ['Head Chef', 'Sous Chef', 'Station Chef', 'Pastry Chef']
cuisine = ['Italian','French','Mexican']
CR = []
Cus = []
for i in range(Chef.shape[0]):
    CR.append(np.random.choice(chef_rank))
    Cus.append(np.random.choice(cuisine))
CR = np.array(CR).reshape((len(Chef),1))
Cus = np.array(Cus).reshape((len(Chef),1))
Chef = np.append(Chef,CR,axis=1)
Chef = np.append(Chef,Cus,axis=1)
avail = [np.random.choice([True,False]) for  i in range(Chef.shape[0])]
avail = np.array(avail,dtype='bool').reshape((Chef.shape[0],1))
print(avail)
Chef = np.append(Chef,avail,axis=1)
print(Chef)

[[False]
 [ True]
 [ True]
 [ True]
 [False]]
[['192' 'Pastry Chef' 'Italian' 'False']
 ['431' 'Pastry Chef' 'Italian' 'True']
 ['61' 'Station Chef' 'Mexican' 'True']
 ['28' 'Station Chef' 'Italian' 'True']
 ['217' 'Sous Chef' 'Mexican' 'False']]

In [5]:
Date = []
Days = ['Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday','Monday']
for i in range(31):
    Date.append([str(i + 1)+'-03-2022',Days[i % 7]])
Date = np.array(Date)
# print(Date)

In [6]:
ingr = set()
items = np.genfromtxt('./items.txt',dtype='str',delimiter='\n')
Item = []
Required = []
# print(items)
for i in range(len(items)):
    if(i % 3 == 0):
        Item.append(items[i].split('.')[1])   
    elif(i % 3 == 2):
        for j in items[i].split('|'):
            ingr.add(j)
ingr = np.array(list(ingr)).reshape((len(ingr)),1)
Ingredients = np.append((np.arange(len(ingr),dtype=int) + 1).reshape((len(ingr),1)),ingr,axis=1)
# print(Ingredients)
id_ingr = {}
for i in range(Ingredients.shape[0]):
    id_ingr[Ingredients[i][1]] = int(Ingredients[i][0])
# print(id_ingr)
for i in range(len(items)):
    if(i % 3 == 2):
        for j in items[i].split('|'):
            Required.append([int((i + 1) / 3),id_ingr[j],np.random.randint(1,5)])
Required = np.array(Required)
Item = np.array(Item).reshape((len(Item)),1)
types = ['Starter', 'Main-Course', 'Dessert', 'Beverage', 'Snack-Item']
Cost = []
Type = []
is_veg = []
avail = []
for i in range(Item.shape[0]):
    Cost.append(np.random.randint(200,400))
    Type.append(np.random.choice(types))
    is_veg.append(np.random.choice(['True','False']))
    avail.append(np.random.choice([True,False]))
Cost = np.array(Cost).reshape((len(Item)),1)
Type = np.array(Type).reshape((len(Item)),1)
is_veg = np.array(is_veg).reshape((len(Item)),1)
avail = np.array(avail).reshape((len(Item)),1)
Items = np.append(np.array(np.arange(len(Item)) + 1).reshape((len(Item)),1),Item,axis=1)
Items = np.append(Items,Cost,axis=1)
Items = np.append(Items,Type,axis=1)
Items = np.append(Items,is_veg,axis=1)
Items = np.append(Items,avail,axis=1)
# print(Chef)
Can_Cook = []
for i in range(Chef.shape[0]):
    r = np.arange(100) + 1
    np.random.shuffle(r)
    r = r[:np.random.randint(1,Items.shape[0] + 1)]
    for j in r:
        Can_Cook.append([int(Chef[i][0]),j])
Can_Cook = np.array(Can_Cook)
# print(Can_Cook)

# print(Items)

# print(Required)
# print(Ingredients)

In [7]:
area = np.genfromtxt('./add.txt',dtype='str',delimiter='\n')
area1 = [i.split(',') for i in area]
area1 = np.array(area1)
pincode = []
local = []
city = []
id = []
x = 1
for i in range(len(area1)):
    pincode.append(area1[i][-1])
    city.append(area1[i][-3])
    local1 = area1[i][:-3]
    local.append("".join(local1))
    id.append(x)
    x = x+1

# Area = np.append(np.append(np.array(local).reshape((len(area)),1),np.array(city).reshape((len(area),1)),axis=1),np.array(pincode).reshape((len(area),1)),axis=1)
id = np.array(id).reshape((len(id),1))
local = np.array(local).reshape((len(local),1))
city = np.array(city).reshape((len(city),1))
pincode = np.array(pincode).reshape((len(pincode),1))

Area = np.append(id,local,axis=1)
Area = np.append(Area,city,axis=1)
Area = np.append(Area,pincode,axis=1)
# print(Area)

<ipython-input-7-d7e8e69feb0c>:3: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  area1 = np.array(area1)

In [8]:
Special_Items = []
for i in range(1,32):
    Special_Items.append(["2022-03-" + ch(i),np.random.randint(1,60)])
Special_Items = np.array(Special_Items)
# print(Special_Items)

In [9]:
#Delivery Person
avg_rat = [np.random.uniform(2.5,5) for i in range(Delivery_Person.shape[0])]
avail = [np.random.choice([True,False]) for i in range(Delivery_Person.shape[0])]
p_area = [np.random.randint(1,Area.shape[0] + 1) for i in range(Delivery_Person.shape[0])]

avg_rat = np.array(avg_rat).reshape((len(Delivery_Person),1))
avail = np.array(avail).reshape((len(Delivery_Person),1))
p_area = np.array(p_area).reshape((len(Delivery_Person),1))

Delivery_Person = np.append(Delivery_Person,avg_rat,axis=1)
Delivery_Person = np.append(Delivery_Person,avail,axis=1)
Delivery_Person = np.append(Delivery_Person,p_area,axis=1)

print(Delivery_Person)

[['149' '3.8799875678854927' 'True' '72']
 ['404' '4.909789721711378' 'True' '33']
 ['254' '3.2023888424759184' 'True' '13']
 ['42' '4.005366567841363' 'True' '87']
 ['123' '3.49115672513156' 'False' '66']
 ['103' '4.070058079388071' 'True' '8']
 ['101' '3.25158072130937' 'False' '3']
 ['451' '4.5483959616400504' 'False' '97']
 ['380' '2.6744649462605214' 'False' '21']
 ['195' '2.6046939257499906' 'True' '4']
 ['238' '2.6234909615832858' 'True' '86']]

In [130]:
#Tables 
no_of_tables = 15
Tables = []
for i in range(no_of_tables):
    Tables.append([i + 1,np.random.randint(1,12),None,np.random.choice([True,False])])
Tables = np.array(Tables)
# print(Tables)

In [131]:
#Customers
cust = []
# print(customers)
for i in customers:
    cust.append([i[0],np.random.randint(15,70),np.random.randint(5,20),np.random.randint(1,area.shape[0] + 1)])

Customers = np.array(cust,dtype=int)
# print(Customers)

In [132]:
#Order
Payment_Method = ['Cash','Card','UPI']
Order_mode = ['Online','In-person']
Status = ['Ordered','Prepared','Delivered','Completed']
Rating = [1,2,3,4,5,None]
Working_hours = [11,12,13,14,19,20,21,22]
num_orders = 1000
Order = []

for i in range(num_orders):
    Order.append([i + 1,np.random.randint(200,2001),np.random.choice(Payment_Method),np.random.choice(Order_mode),np.random.choice(Status),
    np.random.randint(1,Tables.shape[0] + 1),str(np.random.choice(Working_hours)) + ":" + ch(np.random.randint(60)),"2022-03-" + ch(np.random.randint(1,32)) ,np.random.choice(Rating)])
Order = np.array(Order)
cid = []
da = []
did = []
dr = []
che = []
for i in range(num_orders):
    che.append(Chef[np.random.randint(Chef.shape[0])])
    x = np.random.randint(2)
    if(x == 0):
        cid.append(None)
        da.append(None)
        did.append(None)
        dr.append(None)
    else:
        cid.append(Customers[np.random.randint(Customers.shape[0])][0])
        da.append(Area[np.random.randint(Area.shape[0])][0])
        did.append(Delivery_Person[np.random.randint(Delivery_Person.shape[0])][0])
        dr.append(np.random.choice(Rating[:-1]))
cid = np.array(cid).reshape((len(cid),1))
da = np.array(da).reshape((len(cid),1))
did = np.array(did).reshape((len(cid),1))
dr = np.array(dr).reshape((len(cid),1))
Order = np.append(Order,cid,axis=1)
Order = np.append(Order,da,axis=1)
Order = np.append(Order,did,axis=1)
Order = np.append(Order,dr,axis=1)
Order = np.append(Order,che,axis=1)
# print(Order)

In [133]:
#Order_Items
Order_Items = []
for i in range(Order.shape[0]):
    r = np.arange(100) + 1
    np.random.shuffle(r)
    r = r[:np.random.randint(1,11)]
    # print(r)
    for j in r:
        Order_Items.append([int(Order[i][0]),j,np.random.randint(1,5)])
Order_Items = np.array(Order_Items)
# print(Order_Items)

In [134]:
Ingredients_purchased = []
Ingredients_used = []
for i in range(1,32):
    date = "2022-03-" + ch(i)
    r = np.arange(Ingredients.shape[0]) + 1
    np.random.shuffle(r)
    for j in r[:np.random.randint(10)]:
        Ingredients_purchased.append([date,j,np.random.randint(50,100)])
    np.random.shuffle(r)
    for j in r[:np.random.randint(10)]:
        Ingredients_used.append([date,j,np.random.randint(25,60)])
Ingredients_used = np.array(Ingredients_used)
Ingredients_purchased = np.array(Ingredients_purchased)
# print(Ingredients_used)

In [62]:
# print(Items.shape)

f = open('./InsertData.sql','w+')   # Change on requirment

In [63]:


for i in range(len(Area)):
    a = Area[i][0]
    b = Area[i][1]
    c = Area[i][2]
    d = Area[i][3]
    f.write("INSERT INTO area (area_id, locality, city,pincode) VALUES ({}, '{}', '{}',{});\n".format(a,b,c,d))

In [64]:
for i in range(len(Tables)):
    a = Tables[i][0]
    b = Tables[i][1]
    c = Tables[i][2]
    d = Tables[i][3]
    f.write("INSERT INTO table_ (table_id , capacity , position, availability ) VALUES ({},{},{},{});\n".format(int(a),b,c,d))

In [65]:
for i in range(len(Items)):
    a = Items[i][0]
    b = Items[i][1]
    c = Items[i][2]
    d = Items[i][3]
    e = Items[i][4]
    ff = Items[i][5]
    f.write("INSERT INTO item (item_id , item_name,category,cost,availability,is_veg) VALUES ({},'{}','{}',{},{},{});\n".format(int(a),b,d,c,e,ff))

In [66]:
for i in range(len(Ingredients)):
    a = Ingredients[i][0]
    b = Ingredients[i][1]
    f.write("INSERT INTO ingredient (ingredient_id, name) VALUES ({}, '{}');\n".format(int(a),b))

In [67]:
for i in range(len(Person)):
    a = Person[i][0]
    b = Person[i][1]
    c = Person[i][2]
    d = Person[i][3]
    f.write("INSERT INTO person (id , name , phone_number, password) VALUES ({},'{}','{}','{}');\n".format(int(a),b,c,d))

In [68]:
for i in range(len(Customers)):
    a = Customers[i][0]
    b = Customers[i][1]
    c = Customers[i][2]
    d = Customers[i][3]
    f.write("INSERT INTO customer (id , age , discount, default_address) VALUES ({},{},{},{});\n".format(int(a),b,c,d))
    # print("INSERT INTO customer (id , age , discount, default_address) VALUES ({},{},{},{});".format(a,b,c,d))

In [69]:
for i in range(len(Employee)):
    a = Employee[i][0]
    b = Employee[i][1]
    c = Employee[i][2]
    d = Employee[i][3]
    e = Employee[i][4]
    f.write("INSERT INTO employee (id ,shift_start_time, shift_end_time, employee_type, salary) VALUES ({},'{}','{}','{}',{});\n".format(int(a),b,c,e,d))

In [70]:
for i in range(len(Chef)):
    a = Chef[i][0]
    b = Chef[i][1]
    c = Chef[i][2]
    d = Chef[i][3]
    f.write("INSERT INTO chef (id ,cuisine, chef_rank, availability) VALUES ({},'{}','{}',{});\n".format(int(a),c,b,d))

In [71]:
for i in range(len(Delivery_Person)):
    a = Delivery_Person[i][0]
    b = Delivery_Person[i][1]
    c = Delivery_Person[i][3]
    d = Delivery_Person[i][2]
    f.write("INSERT INTO delivery_person (id ,average_rating, primary_area, availability) VALUES ({},{},{},{}) ;\n".format(int(a),b,c,d))
# print(Delivery_Person)

In [72]:
for i in range(len(Order)):
    a1 = Order[i][0]
    a2 = Order[i][1]
    a3 = Order[i][2]
    a4 = Order[i][3]
    a5= Order[i][4]
    a6= Order[i][5]
    a7= Order[i][6]
    a8 = Order[i][9]
    a9 = Order[i][10]
    a10 = Order[i][11]
    a11 = Order[i][12]
    a12 = Order[i][7]
    a13 = Order[i][8]
    a14 = Order[i][13]
    f.write("INSERT INTO order_ (order_id ,total_cost,payment_method,order_mode,status,table_id,placing_time,customer_id,delivery_area,delivery_person_id,delivery_rating,order_date,order_rating, chef_id) VALUES ({},{},'{}','{}','{}',{},'{}',{},{},{},{},'{}',{},{});\n".format(int(a1),a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14))


# print(Order)

In [73]:
for i in Can_Cook:
    f.write("INSERT INTO can_cook (chef_id, item_id) VALUES ({},{});\n".format(i[0],i[1]))

In [74]:
for i in Required:
    f.write("INSERT INTO required_ (item_id, ingredient_id, quantity) VALUES ({},{},{});\n".format(i[0],i[1],i[2]))

In [75]:
for i in Ingredients_purchased:
    f.write("INSERT INTO ingredients_purchased (date, ingredient_id, quantity) VALUES ('{}',{},{});\n".format(i[0],i[1],i[2]))

In [76]:
for i in Ingredients_used:
    f.write("INSERT INTO ingredients_used (date, ingredient_id, quantity) VALUES ('{}',{},{});\n".format(i[0],i[1],i[2]))

In [77]:
for i in Order_Items:
    f.write("INSERT INTO order_items (item_id, order_id, item_quantity) VALUES ({},{},{});\n".format(int(i[1]),i[0],i[2]))

In [79]:
for i in Special_Items:
    f.write("INSERT INTO special_items (date, item_id) VALUES ('{}',{});".format(i[0],i[1]))

In [80]:
f.close()

In [41]:
# print(Order[:,0])
print(Employee)

[['441' '11:00' '15:00' '60000' 'Manager']
 ['498' '19:00' '23:00' '60000' 'Manager']
 ['370' '11:00' '15:00' '60000' 'Manager']
 ['25' '19:00' '23:00' '15000' 'Waiter']
 ['226' '11:00' '15:00' '15000' 'Waiter']
 ['141' '19:00' '23:00' '15000' 'Waiter']
 ['337' '11:00' '15:00' '15000' 'Waiter']
 ['489' '19:00' '23:00' '15000' 'Waiter']
 ['136' '11:00' '15:00' '15000' 'Waiter']
 ['109' '19:00' '23:00' '15000' 'Waiter']
 ['403' '11:00' '15:00' '15000' 'Waiter']
 ['480' '19:00' '23:00' '15000' 'Waiter']
 ['95' '11:00' '15:00' '40000' 'Chef']
 ['192' '19:00' '23:00' '40000' 'Chef']
 ['431' '11:00' '15:00' '40000' 'Chef']
 ['61' '19:00' '23:00' '40000' 'Chef']
 ['28' '11:00' '15:00' '40000' 'Chef']
 ['217' '19:00' '23:00' '40000' 'Chef']
 ['446' '11:00' '15:00' '10000' 'Delivery-Person']
 ['149' '19:00' '23:00' '10000' 'Delivery-Person']
 ['404' '11:00' '15:00' '10000' 'Delivery-Person']
 ['254' '19:00' '23:00' '10000' 'Delivery-Person']
 ['42' '11:00' '15:00' '10000' 'Delivery-Person']
 ['123' '19:00' '23:00' '10000' 'Delivery-Person']
 ['103' '11:00' '15:00' '10000' 'Delivery-Person']
 ['101' '19:00' '23:00' '10000' 'Delivery-Person']
 ['451' '11:00' '15:00' '10000' 'Delivery-Person']
 ['380' '19:00' '23:00' '10000' 'Delivery-Person']
 ['195' '11:00' '15:00' '10000' 'Delivery-Person']
 ['238' '19:00' '23:00' '10000' 'Delivery-Person']]